# C-tags file
tags

# Bat file for Visual C Variables
vcvars.bat

# Visual Studio folder
.vs/

# Visual Studio Code folder
.vscode/

# Output build directory
build/

# Presentation build output directory
press_build/

